.contact {
  display: flex;
  flex-flow: column wrap; }
  .contact .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 880px;
    height: 450px;
    text-align: left;
    padding: 10px 0; }
    .contact .contact-form .input {
      display: flex;
      background-color: #F0F0F0;
      border: 1px solid #808080;
      height: 13%; }
  .contact textarea {
    background-color: #F0F0F0;
    height: 30%; }
  .contact .send {
    display: flex;
    background-color: #4F5D75;
    width: 40%;
    height: 10%;
    color: white;
    border: 1px solid #808080;
    justify-content: center; }

.flex-container {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  background-color: #FFFFFF; }
  .flex-container .p-large {
    font-size: 150%;
    color: black;
    font-family: "Palatino", serif; }

.experience {
  display: flex;
  flex-direction: column; }
  .experience .experience-text {
    display: flex;
    justify-content: space-around; }

.footer {
  display: flex;
  flex-direction: row-reverse;
  width: 10px;
  background-color: #008000;
  border: 1px solid #000000; }

.intro {
  display: flex;
  flex-direction: column;
  text-align: left; }

.flex-item-page {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  max-width: 50%;
  height: auto;
  margin: 10px;
  padding: 2% 3% 10% 2%;
  background-color: #FFFFFF;
  border: 1px solid #000000; }

.flex-item-nav {
  display: flex;
  flex-direction: column;
  max-width: 35%;
  height: 100%;
  margin: 10px;
  background-color: #FFFFFF;
  border: 1px solid #000000; }
  .flex-item-nav .nav-image {
    display: flex;
    max-width: 400px;
    max-height: 400px; }
  .flex-item-nav .nav {
    display: flex;
    justify-content: center;
    height: 250px;
    background-color: #D3D3D3; }
  .flex-item-nav .social-media-icons {
    display: flex;
    flex-direction: row;
    height: 30%;
    align-items: center;
    justify-content: space-around;
    padding: 37px; }
  .flex-item-nav .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none; }
  .flex-item-nav .fa-facebook {
    background: #3B5998;
    color: #FFFFFF; }
  .flex-item-nav .fa-linkedin {
    background: #007bb5;
    color: #FFFFFF; }
  .flex-item-nav .fa-instagram {
    background: #125688;
    color: #FFFFFF; }

.projects {
  display: flex;
  flex-direction: column; }
  .projects .flex-item-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  .projects .portfolio-picture {
    display: flex;
    width: 200px;
    height: 200px;
    border: 1px solid #FFFFFF; }

.skills {
  display: flex;
  -webkit-flex-direction: column; }
  .skills .skill-bar {
    width: 100%;
    height: 15px;
    margin: 5px;
    background: #D8DBE2;
    overflow: hidden; }
  .skills .progress-skill {
    height: 100%;
    width: 30%;
    background: #373F51; }

h1 {
  font-size: 300%;
  color: #1D3461;
  font-family: Georgia, serif; }

h2 {
  font-size: 200%;
  color: #3A6EA5;
  font-family: Georgia, serif; }

h3 {
  font-size: 150%;
  color: #3A6EA5;
  font-family: Georgia, serif; }
