$font-stack: Georgia, serif;
$p-font: "Palatino", serif;
$p-color: black;

.flex-container{
	display: flex;
	flex-direction: row;
	width: auto;
	height: auto;
	background-color: white;

	.p-large{
		font-size: 150%;
		color: black;
		font-family: $p-font;
	}

	.flex-item-nav{
		display: flex;
		flex-direction: column;
		max-width: 35%;
		height: 100%;
		margin: 10px;
		background-color: #ffffff;
		border: 1px solid black;

		.nav-image{
			display: flex;
			max-width: 400px;
			max-height: 400px;
		}

		.nav{
			display: flex;
			justify-content: center;
			height: 80%;
			background-color: lightgrey;
		}

		.social-media-icons{
			display: flex;
			flex-direction: row;
			height: 30%;
			align-items: center;
			justify-content: space-around;
			padding: 37px;
		}

		.fa{
		  padding: 20px;
		  font-size: 30px;
		  width: 30px;
		  text-align: center;
		  text-decoration: none;
		}

		.fa-facebook{
			background: #3B5998;
			color: white;
		}

		.fa-linkedin{
			background: #007bb5;
			color: white;
		}

		.fa-instagram{
	  	background: #125688;
	  	color: white;
		}
	}

		.flex-item-page{
			display: flex;
			justify-content: space-around;
			flex-direction: column;
			max-width: 50%;
			height: auto;
			margin: 10px;
			padding: 2% 3% 10% 2%;
			background-color: #ffffff;
			border: 1px solid black;

		h1{
			font-size: 300%;
			color: #1D3461;
			font-family: $font-stack;
		}

		h2{
			font-size: 200%;
			color: #3A6EA5;
			font-family: $font-stack;
		}

		h3{
			font-size: 150%;
			color: #3A6EA5;
			font-family: $font-stack;
		}

		.intro{
			display: flex;
			flex-direction: column;
			text-align: left;
		}

		.skills{
			display: flex;
			-webkit-flex-direction: column;

			.skill-bar{
				width: 100%;
				height: 15px;
				margin: 5px;
				background: #D8DBE2;
				overflow: hidden;
			}

			.progress-skill{
				height: 100%;
				width: 30%;
				background: #373F51;
			}
		}

		.experience{
			display: flex;
			flex-direction: column;

			.experience-text{
				display: flex;
				justify-content: space-around;
			}
		}

		.projects{
			display: flex;
			flex-direction: column;

			.flex-item-images{
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
			}

			.portfolio-picture{
				display: flex;
				width: 200px;
				height: 200px;
				border: 1px solid white;
			}
		}

		.contact{
			display: flex;
			flex-flow: column wrap;

			.contact-form{
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				height: 50%;

			.input{
				display: flex;
				background-color: #F0F0F0;
				border: 1px solid grey;
				height: 13%;
				}
			}

			textarea{
				background-color: #F0F0F0;
				height: 30%
			}

			.send{
				display: flex;
				background-color: #4F5D75;
				width: 40%;
				height: 10%;
				color: white;
				border: 1px solid grey;
				justify-content: center;
			}
		}
	}
	.footer{
		display: flex;
		flex-direction: row-reverse;

		.main-footer{
			display: flex;
			background-color: green;
			border: 1px solid black;
		}
	}
}
