.contact{
	display: flex;
	flex-flow: column wrap;

	.contact-form{
		display: flex;
		flex-wrap: wrap-reverse;
		flex-direction: column;
		justify-content: space-around;
		max-width: 880px;
		height: 450px;
  	text-align: left;
		padding: 10px 0;

	.input{
		display: flex;
		background-color: $gray94;
		height: 13%;
		@include border(1px solid $black);
		}
	}

	textarea{
		background-color: $gray94;
		height: 30%
	}

	.send{
		display: flex;
		background-color: $chambray;
		width: 40%;
		height: 10%;
		color: white;
		@include border(1px solid $black);
		justify-content: center;
	}
}
