.flex-item-page {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	max-width: 50%;
	height: auto;
	padding: 2% 3% 10% 2%;
	background-color: $white;
	@include border(1px solid $black);
}
