.projects {
	display: flex;
	flex-direction: column;

	.flex-item-images {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.portfolio-picture {
		display: flex;
		width: 200px;
		height: 200px;
		@include border(1px solid $black);
	}
}
