$gray94: #F0F0F0;
$chambray: #4F5D75;
$grey: #808080;
$white: #FFFFFF;
$green: #008000;
$black: #000000;
$lightgrey: #D3D3D3;
$facebookblue: #3B5998;
$cerulean: #007bb5;
$bahamablue: #125688;
$hawkesblue: #D8DBE2;
$cloudburst: #373F51;
$catalinablue: #1D3461;
$lochmara: #3A6EA5;
$darkgray: #303233;
