h1 {
	font-size: 300%;
	color: $catalinablue;
	font-family: $heading-font;
}

h2 {
	font-size: 200%;
	color: $lochmara;
	font-family: $heading-font;
}

h3 {
	font-size: 150%;
	color: $lochmara;
	font-family: $heading-font;
}
